startercode-nodered.json
[{"id":"e7a35c67.8f0e8","type":"template","z":"1e932e.9b423cd2","name":"HTML & JS","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<html>\n<head>\n    <title>Pizza Condition Checker</title>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css\" />\n    <script src=\"https://code.jquery.com/jquery-1.9.1.min.js\"></script>\n    <script src=\"https://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js\"></script>\n<!--    <style>{{{payload.css}}}</style> -->\n\n</head>\n<body >\n    <div >\n    <div id=\"view_pic\" text-align= \"center\"><H3 display= \"inline-block\">Customer APP - Pizza Condition Checker</H3></div>\n    <div id=\"view_pic\" display= \"inline-block\"><H4>Take a picture or upload your pizza picture here</H4></div>\n    </div>\n    <input id=\"picture\" type=\"file\" accept=\"image/*;capture=camera\">\n    <p>\n    <div id=\"view_pic\" display= \"inline-block\"></div>\n    <div id=\"results\"></div>\n    \n    <script>\n        var formData = new FormData();\n        var myInput = document.getElementById('picture');\n        \n        function sendPic() {\n            var request = new XMLHttpRequest();    \n            \n            //Displaying Picture\n            var file = myInput.files[0];\n            var reader = new FileReader();\n            reader.onload = function (e) { \n                console.log(e); \n                document.getElementById(\"view_pic\").innerHTML = \"<img src='\"+e.target.result+\"' style='max-width:300;max-height:300'>\";\n            }\n            reader.readAsDataURL(file);\n            formData.set(\"photo\", file);\n            \n            // Showing Upload progress\n            request.upload.addEventListener(\"progress\", function(evt){\n                if (evt.lengthComputable) {\n                    console.log(\"add upload event-listener\" + evt.loaded + \"/\" + evt.total);\n                    document.getElementById(\"results\").innerHTML = \"Uploading to IBM Cloud <BR> <progress value='\"+evt.loaded+\"' max='\"+evt.total+\"'>\";\n                }\n            }, false);\n            \n            // Showing analysis progress\n            request.upload.addEventListener(\"load\", function(evt){\n                    document.getElementById(\"results\").innerHTML = \"Watson is analyzing the picture...\";\n            }, false);\n            \n            \n\n            // Display results\n            request.onreadystatechange = function() {\n                console.log(this);\n                if (this.readyState == 4 && this.status == 200) {                    \n                    document.getElementById(\"results\").innerHTML = this.response;\n                }\n            };\n            \n            // Sending picture to IBM Cloud\n            request.open(\"POST\", \"/uploadpic\");\n            request.send(formData);\n        }\n        \n        // Listener on picture selection\n        myInput.addEventListener('change', sendPic, false);\n    </script>\n</body>\n</HTML>\n\n\n\n\n","output":"str","x":375.7500057220459,"y":252.50000190734863,"wires":[["9d1b48ba.8fb618"]]},{"id":"27ae1c65.24b394","type":"http in","z":"1e932e.9b423cd2","name":"","url":"/mobile","method":"get","upload":false,"swaggerDoc":"","x":195.7500057220459,"y":252.50000190734863,"wires":[["e7a35c67.8f0e8"]]},{"id":"9d1b48ba.8fb618","type":"http response","z":"1e932e.9b423cd2","name":"","statusCode":"","headers":{},"x":535.7500057220459,"y":252.50000190734863,"wires":[]},{"id":"a18fd036.d4235","type":"http in","z":"1e932e.9b423cd2","name":"","url":"/submit","method":"post","upload":true,"swaggerDoc":"","x":195.7500057220459,"y":372.50000190734863,"wires":[["b6a933c2.6fc57"]]},{"id":"162e7656.5fb2fa","type":"http response","z":"1e932e.9b423cd2","name":"","statusCode":"","headers":{},"x":1155.750005722046,"y":352.50000190734863,"wires":[]},{"id":"500337cf.f591b8","type":"visual-recognition-v3","z":"1e932e.9b423cd2","name":"","vr-service-endpoint":"https://api.us-south.visual-recognition.watson.cloud.ibm.com/instances/0474a207-c643-40cc-a149-35c70975cea4","image-feature":"classifyImage","lang":"en","x":695.7500057220459,"y":352.50000190734863,"wires":[["7b91884.213b178"]]},{"id":"7b91884.213b178","type":"template","z":"1e932e.9b423cd2","name":"HTML Result","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"        <h4>Watson recognizes the following classes in you pizza picture:</h4>\n        <table border='1'>\n            <thead><tr><th>Name</th><th>Score</th></tr></thead>\n        {{#result.images.0.classifiers.0.classes}}\n        <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n        {{/result.images.0.classifiers.0.classes}}\n        </table>\n","output":"str","x":915.7500057220459,"y":352.50000190734863,"wires":[["162e7656.5fb2fa"]]},{"id":"b6a933c2.6fc57","type":"change","z":"1e932e.9b423cd2","name":"Get image from request","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":415.7500057220459,"y":352.50000190734863,"wires":[["500337cf.f591b8"]]},{"id":"485f21f3.5645","type":"comment","z":"1e932e.9b423cd2","name":"Web App to Upload picture","info":"","x":235.7500057220459,"y":212.50000190734863,"wires":[]},{"id":"dc74fa45.28b938","type":"comment","z":"1e932e.9b423cd2","name":"Processing","info":"","x":185.7500057220459,"y":332.50000190734863,"wires":[]},{"id":"d65cae85.18217","type":"http in","z":"1e932e.9b423cd2","name":"","url":"uploadpic","method":"post","upload":true,"swaggerDoc":"","x":187.00000762939453,"y":497.5000104904175,"wires":[["1e43d429.b8c7bc"]]},{"id":"1e43d429.b8c7bc","type":"change","z":"1e932e.9b423cd2","name":"Get image from request","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":409.5,"y":495.00000858306885,"wires":[["4fd5ba2b.788c84"]]},{"id":"4fd5ba2b.788c84","type":"change","z":"1e932e.9b423cd2","name":"Pizza (Custom)","rules":[{"t":"set","p":"params[\"classifier_ids\"]","pt":"msg","to":"Pizza-model_577693104","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":585.7500057220459,"y":412.50000190734863,"wires":[["500337cf.f591b8"]]},{"id":"d6e4b26.15e135","type":"comment","z":"1e932e.9b423cd2","name":"To access the Web app UI and test : http://workshop-iut.mybluemix.net/mobile","info":"","x":403.25,"y":140.75000095367432,"wires":[]}]